.Main_Page {
    padding: 2% 2% 2% 2%
}

.Contact_Page {
    text-align: center;
}

.Contact_Page_Header {
    display: flex;
    justify-content: space-between;
}

.Search_Button {
    margin-right: 50px;
}