.Modal_Container {
    max-width: 280px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(153, 241, 223, 0.95);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 1% 1% 1% 1%;
}

.No_Button {
    margin-right: 50px;
}

.Yes_Button {
    background-color: red;
}