.Contact_Box_Information {
    display: inline-block;
    width: 310px;
    height: 350px;
    background: #99EDC3;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid blue;
    overflow:hidden; 
    padding: 1% 1% 1% 1%;
  }


.Contact_Name {
    text-align: center;
}

.Favorite_Star {
    display: flex;
    width: 40px;
    height: 40px;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.Favorite_Star:hover {
    transform: scale(1.2);
}

.Favorite_Button {
    float: right;
}

.Delete_Button {
    all: unset;
    cursor: pointer;
    float: left;    
    margin: 1% 2% 3% 0;
    padding: 1% 1% 1% 1%;
    border-radius: 20%;
    background-color: red;
}

