.Add_Contact_Modal{
    background-color: rgba(0, 0, 0, 0.5);
}

input {
    display: block;
}

.Modal_Container {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(153, 241, 223, 0.95);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
}

.Add_Contact_Form{
    padding: 2% 2% 2% 2%;
}

.Close_Modal_Container {
    background-color: #9baac8;
    padding-right: 5px;
    float: right;
}

.Close_Modal_Container{
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}